// colors
$page-background: #242424;
$text-main: #E8E8E8;
$text-secondary: #575757;
$accent-color: #5D3974;
$btn-background: #402166;
$btn-background-secondary: #1E0042;
$content-background: #221A37;

// shadows
$box-shadow: 0px 0px 75px 35px #00000042;

//borders
$border-radius: 10px;
$content-border-radius: 100px;

//backgrounds
$content-background-image: url("/src/assets/background-image.png");