@import "base/vars.scss";
@import "base/btn.scss";

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: $page-background;
    margin: 0;
    display: flex;
    text-shadow: $text-shadow;
    color: $text-main;
}

* {
    font-family: $font-family;
    font-size: 1.2vw;
}

.content-card {
    flex: 1;
    margin: 1vw 2vw;
    display: flex;
    flex-direction: column;
    background-color: $content-background;
    box-shadow: $content-box-shadow;
    border-radius: $content-border-radius;
    background-image: $content-background-image;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom left;

    header {
        padding: 4vw;
        display: flex;
        justify-content: space-between;

        * {
            font-family: $font-family-secondary;
        }

        .logo {
            font-size: 2vw;
        }

        nav {
            display: flex;
            gap: 2vw;

            .nav-item {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 1vw 1.5vw;
                transition: $transition;
                cursor: pointer;

                &:hover {
                    text-shadow: $text-shadow-secondary;
                }
            }
        }
    }

    content {
        display: flex;
        flex: 1;
        justify-content: flex-end;
        padding: 0 5vw;

        .content-container {
            width: 35%;

            .about {
                h3 {
                    font-size: 1.5vw;
                    color: $accent-color;
                    margin: 0;
                }

                h1 {
                    font-size: 3.6vw;
                    margin: 0;
                }

                h4 {
                    font-size: 1vw;
                    color: $text-secondary;
                    margin: 0;
                }

                p {
                    margin: 2vw 0;
                    line-height: 2vw;
                }
            }
        }
    }
}