@import "base/vars.scss";
@import "base/btn.scss";
@import "slider.scss";

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: $page-background;
    margin: 0;
    display: flex;

}

* {
    font-family: $font-family;
    text-shadow: $text-shadow;
    color: $text-main;
    font-size: 1vw;
}

.content-card {
    flex: 1;
    margin: 1vw 2vw;
    display: flex;
    flex-direction: column;
    background-color: $content-background;
    box-shadow: $content-box-shadow;
    border-radius: $content-border-radius;
    background-image: $content-background-image;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom left;

    header {
        padding: 4vw;
        display: flex;
        justify-content: space-between;

        * {
            font-family: $font-family-secondary;
        }

        .logo {
            font-size: 3vw;
            display: flex;
            align-items: center;
        }

        nav {
            display: flex;
            gap: 2vw;

            .nav-item {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 1vw 1.5vw;
                transition: $transition;
                cursor: pointer;

                &:hover {
                    text-shadow: $text-shadow-secondary;
                    transform: translateY(-0.2vw);
                }
            }
        }
    }

    content {
        display: flex;
        flex: 1;
        justify-content: flex-end;
        padding: 0 5vw;

        .content-container {
            width: 45%;
            max-height: 72vh;
            overflow: hidden;

            .about {
                h3 {
                    font-size: 1.5vw;
                    color: $accent-color;
                    margin: 0;
                }

                h1 {
                    font-size: 3.6vw;
                    margin: 0;
                }

                h4 {
                    font-size: 1vw;
                    color: $text-secondary;
                    margin: 0;
                }

                p {
                    margin: 2vw 0;
                    line-height: 2vw;
                }
            }

            .resume {
                .resume-item {
                    padding: 0.8vw;
                    display: flex;
                    gap: 1.6vw;

                    .item-titles {
                        text-align: right;
                        padding: 0.8vw;
                        flex: 1;

                        .item-date {
                            font-size: 1.1vw;
                            display: block;
                            padding-bottom: 0.8vw;
                            color: $accent-color;
                        }

                        .item-company {
                            color: $text-secondary;
                        }
                    }

                    .item-info {
                        flex: 2;
                        padding: 0.8vw;
                        position: relative;

                        &::before {
                            top: 0;
                            bottom: 0;
                            left: -0.8vw;
                            position: absolute;
                            content: "";
                            display: block;
                            width: 0.1vw;
                            height: 100%;
                            background: $highlight-color;
                            box-shadow: $purple-glow;
                            border-radius: 0.8vw;
                        }

                        .item-job-title {
                            font-size: 1.1vw;
                            margin: 0 0 0.8vw 0;
                        }

                        .item-job-desc {
                            padding: 0 0 0 1.6vw;
                            line-height: 1.2vw;

                            li {
                                font-size: 0.8vw;
                                font-family: monospace;
                            }

                            ul {
                                padding: 0 0 0 1.6vw;
                            }
                        }
                    }
                }
            }

            .gallery {
                display: flex;
                flex-wrap: wrap;
                gap: 1vw;
                justify-content: center;
                align-items: center;
                padding: 1vw;
                padding-top: 5vw;

                div {
                    width: 48%;
                    height: 17vw;
                    box-shadow: $content-box-shadow-dark;
                    border-radius: 1vw;
                    overflow: hidden;
                    transition: $transition;

                    &:hover {
                        transform: scale(1.05);
                        box-shadow: $content-box-shadow;
                    }

                    &:nth-child(odd) {
                        margin-top: -5vw;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}